<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- turn this into a handelbars file -->
		<!-- Get this to render at a route -->
		<title>three.js - pointerlock controls</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			html, body {
				width: 100%;
				height: 100%;
			}
			body {
				background-color: #000000;
				margin: 0;
				overflow: hidden;
				font-family: arial;
			}
			#blocker {
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,0.5);
			}
			#instructions {
				width: 100%;
				height: 100%;
				display: -webkit-box;
				display: -moz-box;
				display: box;
				-webkit-box-orient: horizontal;
				-moz-box-orient: horizontal;
				box-orient: horizontal;
				-webkit-box-pack: center;
				-moz-box-pack: center;
				box-pack: center;
				-webkit-box-align: center;
				-moz-box-align: center;
				box-align: center;
				color: #ffffff;
				text-align: center;
				cursor: pointer;
			}

			.backButton {
				position: absolute;
				display: block;
				z-index: 99;
				left: 2%;
				top: 2%;
			}

			.welcome{
				font-size: 36;
			}
		</style>
	</head>
	<body>
		{{!-- new syntax --}}
		<script src="threeJs/three.min.js"></script>
		<script src="threeJs/PointerLockControls.js"></script>

		<script src="threeJs/inflate.min.js"></script>
		<script src="threeJs/FBXLoader.js"></script>

		<script src="threeJs/WebGL.js"></script>
		<script src="threeJs/stats.min.js"></script>

		<div id="blocker">

			<div id="instructions">
				<button class="backButton" ><a href="/">Back To Dance Party Survey!!</a></button>
				<span class="welcome" style="font-size:40px">Welcome To The Party!</span>
				<span style="font-size:40px">Click to play</span>
				<br />
				(W, A, S, D = Move, SPACE = Jump, MOUSE = Look around)
			</div>

		</div>

		<script>

			if ( WEBGL.isWebGLAvailable() === false ) {
				document.body.appendChild( WEBGL.getWebGLErrorMessage() );
			}

			var container, stats, controls;
			var clock = new THREE.Clock();

			//need to add a new mixer for each dancer
			var mixers = [];
			var mixers2 = [];
		    var mixers3 = [];
        
			// this gets the data back from the db
			var decodedJson = decodeURIComponent("{{{encodedJson}}}");
 			var jsonObj = JSON.parse(decodedJson);
			
			
			console.log(jsonObj);

		    //do things

			var camera, scene, renderer, controls;
			var objects = [];
			var raycaster;
			var moveForward = false;
			var moveBackward = false;
			var moveLeft = false;
			var moveRight = false;
			var canJump = false;
			var prevTime = performance.now();
			var velocity = new THREE.Vector3();
			var direction = new THREE.Vector3();
			var vertex = new THREE.Vector3();
			var color = new THREE.Color();


			// initialization
			init();
			animate();
			setTimeout(ChooseDancers, 1000); // to make sure that the data can be sent off and come back in time
		    setTimeout(LoadEqui, 1000);

			// q1 = Age
			// q2 = Cake (1-3)
			// q3 = Fave Number (1-10)
			// q4 = Party Environment ---- 1-Coast, 2-Woods, 3-Mountains, 4-Desert
			// q5 = Dance Style ---- 1-Salsa, 2-Ballet, 3-Breakdance, 4-Old School
			

			// Load One Two or Three Dancers
			function ChooseDancers(){

				if(jsonObj.q2 === 1 || jsonObj.q2 === 0){

					LoadDancerOne();
					animateDancerOne();

				}else if (jsonObj.q2 === 2){

					LoadDancerOne();
					LoadDancerTwo();
					animateDancerOne();
					animateDancerTwo();

				}else if (jsonObj.q2 === 3 || jsonObj.q2 > 3){

					LoadDancerOne();
					LoadDancerTwo();
					LoadDancerThree();
					animateDancerOne();
					animateDancerTwo();
					animateDancerThree();

				}else{
					console.log("not an acceptable input");
				}
			}

			var environments = ['coast.jpg', 'desert.jpg', 'mountains.jpg', 'woods.jpg'];
			var currentEnvironment;

			// images are called -----  coast, mountains, woods, desert
			function LoadEqui(){

				if(jsonObj.q4 === 1 || jsonObj.q4 === 0){

					currentEnvironment = environments[0];

				}else if (jsonObj.q4 === 2){

					currentEnvironment = environments[1];

				}else if (jsonObj.q4 === 3){

					currentEnvironment = environments[2];

				}else if (jsonObj.q4 === 4 || jsonObj.q4 > 4){

					currentEnvironment = environments[3];

				}else{
					console.log("not an acceptable input");
				}

				var geometry = new THREE.SphereBufferGeometry( 5000, 600, 400 );
				// invert the geometry on the x-axis so that all of the faces point inward
				geometry.scale( - 1, 1, 1 );
				var material = new THREE.MeshBasicMaterial( {
					//if somthing do somthing
					map: new THREE.TextureLoader().load( 'threeJs/360photos/' + currentEnvironment )
				} );

				mesh = new THREE.Mesh( geometry, material );

				scene.add( mesh );

				console.log("Loaded Equi Sphere");
			}

			var salsaDancers = ['SalsaDancer.fbx', 'SalsaDancer(2).fbx', 'SalsaDancer(3).fbx'];
			var breakDancers = ['BreakDancer.fbx', 'BreakDancer(2).fbx', 'BreakDancer(3).fbx'];
			var balletDancers = ['BalletDancer.fbx', 'BalletDancer(2).fbx', 'BalletDancer(3).fbx'];
			var oldSchoolDancers = ['OldSchoolDancer.fbx', 'OldSchoolDancer(2).fbx', 'OldSchoolDancer(3).fbx'];

			var dancerOne;
			var dancerTwo;
			var dancerThree;

			if(jsonObj.q5 === 1 || jsonObj.q5 === 0){ // salsa
				dancerOne = salsaDancers[0];
				dancerTwo = salsaDancers[1];
				dancerThree = salsaDancers[2];
			}else if(jsonObj.q5 === 2){ // ballet
				dancerOne = balletDancers[0];
				dancerTwo = balletDancers[1];
				dancerThree = balletDancers[2];
			}else if(jsonObj.q5 === 3){ // break
				dancerOne = breakDancers[0];
				dancerTwo = breakDancers[1];
				dancerThree = breakDancers[2];
			}else if(jsonObj.q5 === 4){ // old school
				dancerOne = oldSchoolDancers[0];
				dancerTwo = oldSchoolDancers[1];
				dancerThree = oldSchoolDancers[2];
			}else {
				console.log("Invalid Input. Only input 1-4");
			}
			
			function LoadDancerOne() {
				
				// model
				var loader = new THREE.FBXLoader();
				loader.load( './threeJs/Dancers/' + dancerOne, function ( object2 ) {
					object2.mixer = new THREE.AnimationMixer( object2 );
					mixers.push( object2.mixer );
					var action2 = object2.mixer.clipAction( object2.animations[ 0 ] );
					action2.play();
					object2.traverse( function ( child ) {
						if ( child.isMesh ) {
							child.castShadow = true;
							child.receiveShadow = true;
						}
					} );
					scene.add( object2 );
					object2.translateZ( 0 );//change position
				} );
			}

			function LoadDancerTwo() {
				
				// model
				var loader = new THREE.FBXLoader();
				loader.load( './threeJs/Dancers/' + dancerTwo, function ( object2 ) {
					object2.mixer = new THREE.AnimationMixer( object2 );
					mixers2.push( object2.mixer );
					var action2 = object2.mixer.clipAction( object2.animations[ 0 ] );
					action2.play();
					object2.traverse( function ( child ) {
						if ( child.isMesh ) {
							child.castShadow = true;
							child.receiveShadow = true;
						}
					} );
					scene.add( object2 );
					object2.translateZ( 100 );//change position
				} );
			}

			function LoadDancerThree() {
				
				// model
				var loader = new THREE.FBXLoader();
				loader.load( './threeJs/Dancers/' + dancerThree, function ( object3 ) {
					object3.mixer = new THREE.AnimationMixer( object3 );
					mixers3.push( object3.mixer );
					var action3 = object3.mixer.clipAction( object3.animations[ 0 ] );
					action3.play();
					object3.traverse( function ( child ) {
						if ( child.isMesh ) {
							child.castShadow = true;
							child.receiveShadow = true;
						}
					} );
					scene.add( object3 );
					object3.translateZ( -200 );//change position
					object3.translateX( -200 );
				} );
			}

			function animateDancerOne() {
				requestAnimationFrame( animateDancerOne );
				if ( mixers.length > 0 ) {
					for ( var i = 0; i < mixers.length; i ++ ) {
						mixers[ i ].update( clock.getDelta());
					}
				}
				renderer.render( scene, camera );
			}

			function animateDancerTwo() {
				requestAnimationFrame( animateDancerTwo );
				if ( mixers2.length > 0 ) {
					for ( var i = 0; i < mixers2.length; i ++ ) {
						mixers2[ i ].update( clock.getDelta()*10);
					}
				}
				renderer.render( scene, camera );
			}

			function animateDancerThree() {
				requestAnimationFrame( animateDancerThree );
				if ( mixers3.length > 0 ) {
					for ( var i = 0; i < mixers3.length; i ++ ) {
						mixers3[ i ].update( clock.getDelta()*20);
					}
				}
				renderer.render( scene, camera );
			}


			function init() {
				camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 1, 100000 );
				scene = new THREE.Scene();
				//scene.background = new THREE.Color( 0xffffff );
				//scene.fog = new THREE.Fog( 0xffffff, 0, 750 );
				var light = new THREE.HemisphereLight( 0xeeeeff, 0x777788, 0.75 );
				light.position.set( 0.5, 1, 0.75 );
				scene.add( light );
				controls = new THREE.PointerLockControls( camera );
				var blocker = document.getElementById( 'blocker' );
				var instructions = document.getElementById( 'instructions' );
				instructions.addEventListener( 'click', function ( event ) {
					controls.lock();
				}, false );
				controls.addEventListener( 'lock', function() {
					instructions.style.display = 'none';
					blocker.style.display = 'none';
				} );
				controls.addEventListener( 'unlock', function() {
					blocker.style.display = 'block';
					instructions.style.display = '';
				} );
				scene.add( controls.getObject() );
				var onKeyDown = function ( event ) {
					switch ( event.keyCode ) {
						case 38: // up
						case 87: // w
							moveForward = true;
							break;
						case 37: // left
						case 65: // a
							moveLeft = true; break;
						case 40: // down
						case 83: // s
							moveBackward = true;
							break;
						case 39: // right
						case 68: // d
							moveRight = true;
							break;
						case 32: // space
							if ( canJump === true ) velocity.y += 350;
							canJump = false;
							break;
					}
				};
				var onKeyUp = function ( event ) {
					switch( event.keyCode ) {
						case 38: // up
						case 87: // w
							moveForward = false;
							break;
						case 37: // left
						case 65: // a
							moveLeft = false;
							break;
						case 40: // down
						case 83: // s
							moveBackward = false;
							break;
						case 39: // right
						case 68: // d
							moveRight = false;
							break;
					}
				};
				document.addEventListener( 'keydown', onKeyDown, false );
				document.addEventListener( 'keyup', onKeyUp, false );
				raycaster = new THREE.Raycaster( new THREE.Vector3(), new THREE.Vector3( 0, - 1, 0 ), 0, 10 );
				// floor
				var floorGeometry = new THREE.PlaneBufferGeometry( 600, 600, 20, 20 ); //floor size
				floorGeometry.rotateX( - Math.PI / 2 );
				//vertex displacement
				var position = floorGeometry.attributes.position;
				for ( var i = 0, l = position.count; i < l; i ++ ) {
					vertex.fromBufferAttribute( position, i );
					vertex.x += Math.random() * 20 - 10;
					vertex.y += Math.random() * 2;
					vertex.z += Math.random() * 20 - 10;
					position.setXYZ( i, vertex.x, vertex.y, vertex.z );
				}
				floorGeometry = floorGeometry.toNonIndexed(); // ensure each face has unique vertices
				position = floorGeometry.attributes.position;
				var colors = [];
				for ( var i = 0, l = position.count; i < l; i ++ ) {
					color.setHSL( Math.random() * 0.3 + 0.5, 0.75, Math.random() * 0.25 + 0.75 );
					colors.push( color.r, color.g, color.b );
				}
				floorGeometry.addAttribute( 'color', new THREE.Float32BufferAttribute( colors, 3 ) );
				var floorMaterial = new THREE.MeshBasicMaterial( { vertexColors: THREE.VertexColors } );
				var floor = new THREE.Mesh( floorGeometry, floorMaterial );
				scene.add( floor );
				// objects
				var boxGeometry = new THREE.BoxBufferGeometry( jsonObj.q3, jsonObj.q3, jsonObj.q3 ); //cube size
				boxGeometry = boxGeometry.toNonIndexed(); // ensure each face has unique vertices
				position = boxGeometry.attributes.position;
				colors = [];
				for ( var i = 0, l = position.count; i < l; i ++ ) {
					color.setHSL( Math.random() * 0.3 + 0.5, 0.75, Math.random() * 0.25 + 0.75 );
					colors.push( color.r, color.g, color.b );
				}
				boxGeometry.addAttribute( 'color', new THREE.Float32BufferAttribute( colors, 3 ) );
				for ( var i = 0; i < 500; i ++ ) {
					var boxMaterial = new THREE.MeshPhongMaterial( { specular: 0xffffff, flatShading: true, vertexColors: THREE.VertexColors } );
					boxMaterial.color.setHSL( Math.random() * 0.2 + 0.5, 0.75, Math.random() * 0.25 + 0.75 );
					var box = new THREE.Mesh( boxGeometry, boxMaterial );
					box.position.x = Math.floor( Math.random() * 20 - 10 ) * jsonObj.q3;
					box.position.y = Math.floor( Math.random() * 20 ) * 20 + 10 + 220; //move all cubes up
					box.position.z = Math.floor( Math.random() * 20 - 10 ) * jsonObj.q3;
					scene.add( box );
					objects.push( box );
				}
				//
				renderer = new THREE.WebGLRenderer( { antialias: true } );
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setSize( window.innerWidth, window.innerHeight );
				document.body.appendChild( renderer.domElement );
				//
				window.addEventListener( 'resize', onWindowResize, false );
			}


			function onWindowResize() {
				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();
				renderer.setSize( window.innerWidth, window.innerHeight );
			}


			function animate() {
				requestAnimationFrame( animate );
				if ( controls.isLocked === true ) {
					raycaster.ray.origin.copy( controls.getObject().position );
					raycaster.ray.origin.y -= 10;
					var intersections = raycaster.intersectObjects( objects );
					var onObject = intersections.length > 0;
					var time = performance.now();
					var delta = ( time - prevTime ) / 1000;
					velocity.x -= velocity.x * 10.0 * delta;
					velocity.z -= velocity.z * 10.0 * delta;
					velocity.y -= 9.8 * 100.0 * delta; // 100.0 = mass
					direction.z = Number( moveForward ) - Number( moveBackward );
					direction.x = Number( moveLeft ) - Number( moveRight );
					direction.normalize(); // this ensures consistent movements in all directions
					if ( moveForward || moveBackward ) velocity.z -= direction.z * 1000.0 * delta; //movement speed
					if ( moveLeft || moveRight ) velocity.x -= direction.x * 1000.0 * delta; //movement speed
					if ( onObject === true ) {
						velocity.y = Math.max( 0, velocity.y );
						canJump = true;
					}
					controls.getObject().translateX( velocity.x * delta );
					controls.getObject().translateY( velocity.y * delta );
					controls.getObject().translateZ( velocity.z * delta );
					if ( controls.getObject().position.y < 160 ) {
						velocity.y = 0;
						controls.getObject().position.y = 160; //height of camera
						canJump = true;
					}
					prevTime = time;
				}
				renderer.render( scene, camera );
			}
		</script>
	</body>
</html>